/* ---------------------------------------------------
    GENERAL STYLES
----------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-roboto;
  color: $black;
  background-color: var(--theme-background) !important;
  font-weight: 400;
  font-size: 14px;
}

/* ---------------------------------------------------
    COLORS
----------------------------------------------------- */
.bg-primary {
  background-color: var(--theme-primary) !important;
  color: var(--theme-on-primary-inverse) !important;
}

.bg-primary-light {
  background-color: var(--theme-primary-light) !important;
  color: var(--theme-on-primary-inverse) !important;
}

.bg-primary-lighten {
  background-color: lighten($primary, 50%) !important;
}

.bg-secondary {
  background-color: var(--theme-secondary) !important;
  color: var(--theme-on-primary) !important;
}

.bg-secondary-light {
  background-color: var(--theme-secondary-light) !important;
  color: var(--theme-on-primary) !important;
}

.bg-secondary-lighten {
  background-color: lighten($secondary, 10%) !important;
}

.bg-accent {
  background-color: var(--theme-accent) !important;
  color: var(--theme-on-primary) !important;
}

.bg-accent-light {
  background-color: var(--theme-accent-light) !important;
  color: var(--theme-on-primary) !important;
}

.bg-success {
  background-color: var(--theme-success) !important;
  color: $dark !important;
}

.bg-warning {
  background-color: var(--theme-warning) !important;
  color: $dark !important;
}

.bg-danger {
  background-color: var(--theme-danger) !important;
  color: var(--theme-on-primary-inverse) !important;
}

.bg-orange {
  background-color: var(--theme-orange) !important;
  color: $black !important;
}

.bg-purple {
  background-color: var(--theme-purple) !important;
  color: var(--theme-on-primary-inverse) !important;
}

.bg-grey {
  background-color: var(--theme-surface) !important;
  color: var(--theme-on-primary-inverse) !important;
}

.bg-grey-darken {
  background-color: darken($grey, 10%) !important;
}

.bg-dark {
  background-color: #212121 !important;
  color: $white !important;
}

.bg-default {
  background-color: var(--theme-default) !important;
}

.bg-surface {
  background-color: var(--theme-surface) !important;
  color: var(--theme-on-surface);
}

/* ---------------------------------------------------
    BACKGROUND GRADIENTS
----------------------------------------------------- */

.bg-primary-gradient {
  background: linear-gradient(to left, var(--theme-primary), var(--theme-primary-hover)) !important;
}

.bg-secondary-gradient {
  background: linear-gradient(to left, var(--theme-secondary), var(--theme-secondary-active)) !important;
}

.bg-dark-gradient {
  background: linear-gradient(to left, #404040, #212121) !important;
}

.bg-frosted {
  background-color: var(--frosted-glass-bg) !important;
  backdrop-filter: var(--frosted-glass-backdrop-filter) !important;
}

.bg-cold {
  background: linear-gradient(135deg, #7dc4f2, #dddcff);
}

.bg-hot {
  //background: linear-gradient(135deg, #ff904f, #ffc061, #ffd54c);
  background: linear-gradient(135deg, #e6a519, #e05b19);
  //background-size: cover;
  //background: url("https://appleinformed.files.wordpress.com/2021/06/macosmontereywallpaper.jpg") no-repeat;
}

/* ---------------------------------------------------
    BORDERS
----------------------------------------------------- */
.border-radius-0 {
  border-radius: $border-radius-0 !important;
}

.border-radius-4 {
  border-radius: $border-radius-4 !important;
}

.border-radius-8 {
  border-radius: $border-radius-8 !important;
}

.border-radius-12 {
  border-radius: $border-radius-12 !important;
}

.border-radius-25 {
  border-radius: $border-radius-25 !important;
}

.border-radius-50 {
  border-radius: $border-radius-50 !important;
}

.border-primary {
  border: 1px solid var(--theme-primary) !important;
}

.border-secondary {
  border: 1px solid var(--theme-secondary) !important;
}

.border-success {
  border: 1px solid var(--theme-success) !important;
}

.border-danger {
  border: 1px solid var(--theme-danger) !important;
}

.border-deep-purple {
  border: 1px solid $deep-purple !important;
}

.border-blue {
  border: 1px solid $blue !important;
}

.border-amber {
  border: 1px solid $amber !important;
}


/* ---------------------------------------------------
    SHADOWS (MATERIAL DESIGN)
----------------------------------------------------- */
.shadow-0dp {
  box-shadow: $shadow-0dp !important;
}

.shadow-1dp {
  box-shadow: $shadow-1dp !important;
}

.shadow-2dp {
  box-shadow: $shadow-2dp !important;
}

.shadow-3dp {
  box-shadow: $shadow-3dp !important;
}

.shadow-4dp {
  box-shadow: $shadow-4dp !important;
}

.shadow-5dp {
  box-shadow: $shadow-5dp !important;
}

.shadow-6dp {
  box-shadow: $shadow-6dp !important;
}

.shadow-7dp {
  box-shadow: $shadow-7dp !important;
}

.shadow-8dp {
  box-shadow: $shadow-8dp !important;
}

.shadow-9dp {
  box-shadow: $shadow-9dp !important;
}

.shadow-10dp {
  box-shadow: $shadow-10dp !important;
}

.shadow-11dp {
  box-shadow: $shadow-11dp !important;
}

.shadow-12dp {
  box-shadow: $shadow-12dp !important;
}

/* ---------------------------------------------------
    SHADOWS (FLAT DESIGN)
----------------------------------------------------- */
.shadow-sm {
  box-shadow: $shadow-sm !important;
}

.shadow-md {
  box-shadow: $shadow-md !important;
}

.shadow-lg {
  box-shadow: $shadow-lg !important;
}

.shadow-xl {
  box-shadow: $shadow-xl !important;
}

.rotate-horizontal {
  transform: rotateY(180deg);
}

/* ---------------------------------------------------
    SIZES
----------------------------------------------------- */
.h-md-100 {
  height: 85vh;
}

.h-100 {
  height: 100vh !important;
}

.scrolling-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  overflow-x: auto;
  white-space: nowrap;
  z-index: 99;
  height: auto;
  width: 100%;
  transition: $transition-cubic-bezier;
  margin-bottom: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;

  .wrapper {
    .card {
      margin-right: 1rem;
      min-height: 150px;
      min-width: 150px;
    }

    &:last-child {
      .card {
        margin-right: 0;
      }
    }
  }


  /*.btn {
    width: 100px !important;
    max-width: 70px !important;
  }*/
}

.weather-main {
  padding-bottom: 4rem;
}

.translate-offscreen {
  transform: translateY(-60px);
}

hr {
  color: var(--theme-muted);
}

/* ---------------------------------------------------
    SCROLLBAR
----------------------------------------------------- */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-surface-1dp) var(--theme-surface-card-outline);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--theme-surface-1dp);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-surface-card-outline);
  border-radius: 20px;
}

/* ---------------------------------------------------
    CARBON ADS
----------------------------------------------------- */
#carbonads * {
  margin: initial;
  padding: initial;
}

#carbonads {
  font-family: $font-roboto
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: var(--theme-surface-1dp);
  z-index: 100;
}

#carbonads a {
  color: var(--theme-on-primary) !important;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
  border-radius: $border-radius-8;
  max-height: 100px;
}

#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background-color: var(--theme-surface-1dp);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}