.modal {
  .modal-header {
    background: var(--theme-background);
    border-bottom: 1px solid var(--theme-surface);
    border-top-left-radius: $border-radius-25;
    border-top-right-radius: $border-radius-25;
  }

  .modal-content {
    background-color: var(--theme-surface);
    border-radius: $border-radius-25;
    box-shadow: $shadow-12dp;
    border: var(--theme-surface);
  }

  .modal-body {
    background: var(--theme-background);
  }

  .modal-footer {
    background: var(--theme-background);
    border-top: 1px solid var(--theme-surface) !important;
    border-bottom-left-radius: $border-radius-25;
    border-bottom-right-radius: $border-radius-25;
  }
}

.offcanvas {
  background-color: var(--theme-navbar);

  &.offcanvas-bottom {
    border-top-left-radius: $border-radius-25;
    border-top-right-radius: $border-radius-25;
    height: 50vh;
  }
}

$swal2-background: var(--theme-background) !important;
$swal2-title-color: var(--theme-muted) !important;
$swal2-content-color: var(--theme-on-primary) !important;
$swal2-border-radius: $border-radius-25 !important;

.swal2-popup {
  box-shadow: $shadow-12dp;
}