.section-hero {
  padding: 100px 0 100px 0;
  background: var(--theme-background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.section-lg {
    padding: 300px 0 300px 0;
    background-color: var(--theme-default);
  }
}

.section-sm {
  padding: 50px 0 50px 0;
  background: var(--theme-default);
}

.section-profile-banner {
  padding: 80px 0;
  background: var(--theme-primary);
  border-radius: $border-radius-12;
  background: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background: -o-linear-gradient(92deg, #f35626, #feab3a);
  background: -moz-linear-gradient(92deg, #f35626, #feab3a);
  background: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: border-box;
  -webkit-animation: hue 10s infinite linear;
}

.section-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  max-height: 100% !important;
  border-radius: $border-radius-0 !important;
  z-index: 999 !important;
  transition: none !important;
}

.section-cta {
  padding: 50px 0 50px 0;
  background: var(--theme-primary);
}

.section-benefits {
  padding: 80px 0 80px 0;
}

.section-overflow {
  top: -75px;
}

.section-login-left {
  background: -webkit-linear-gradient(70deg, $primary 30%, rgba(0, 0, 0, 0) 30%), -webkit-linear-gradient(30deg, $secondary 60%, $accent 60%);
  background: -o-linear-gradient(70deg, $primary 30%, rgba(0, 0, 0, 0) 30%), -o-linear-gradient(30deg, $secondary 60%, $accent 60%);
  background: -moz-linear-gradient(70deg, $primary 30%, rgba(0, 0, 0, 0) 30%), -moz-linear-gradient(30deg, $secondary 60%, $accent 60%);
  background: linear-gradient(70deg, $primary 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, $secondary 60%, $accent 60%);
  -webkit-animation: hue 10s infinite linear;

  .section-login-text {
    height: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
  }
}

.section-login-left-gradient {
  background: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background: -o-linear-gradient(92deg, #f35626, #feab3a);
  background: -moz-linear-gradient(92deg, #f35626, #feab3a);
  background: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: border-box;
  -webkit-animation: hue 10s infinite linear;

  .section-login-text {
    height: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
  }
}

.section-login-right {
  animation-name: slideInRight;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: calc(var(--animate-duration) / 2);
  animation-duration: calc(var(--animate-duration) / 2);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}