/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */
.sidebar {
  display: block;
  position: fixed;
  top: 0;
  transform: translateX(-300px);
  width: 18rem;
  height: 100%;
  background-color: var(--theme-sidebar);
  color: var(--theme-on-primary);
  box-shadow: $shadow-lg;
  transition: .2s ease-in-out;
  z-index: 9999;
  padding: 20px;
  border-top-right-radius: $border-radius-25;
  border-bottom-right-radius: $border-radius-25;

  &.sidebar-end {
    right: 0;
    transform: translateX(1000px);
    border-radius: $border-radius-25 $border-radius-0 $border-radius-0 $border-radius-25;
  }

  &.sidebar-active {
    transform: translateX(0px);
  }

  &.sidebar-expanded {
    transform: translateX(0px);
    background-color: var(--theme-surface);
    border-radius: $border-radius-0;
    box-shadow: $shadow-0dp;

    .sidebar-body {
      overflow-y: auto;
    }
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: nowrap;
    height: 100%;
    min-height: 100%;
  }

  .sidebar-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    word-break: break-all;
    align-items: center;

    .sidebar-username {
      margin-top: 10px;
      padding: 15px 0 5px 0;
      border-bottom: 1px solid var(--theme-on-primary);
    }

    .sidebar-close {
      display: block;
    }

  }

  .sidebar-body {
    padding: 10px 5px 10px 5px;
    margin: 20px 0 20px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;

    .sidebar-item {
      color: var(--theme-on-primary);
      border: 1px solid var(--theme-sidebar);
      border-radius: $border-radius-4;
      transition: $transition-cubic-bezier;
      padding: .5rem;

      &:hover {
        background-color: transparentize($primary, 0.9) !important;
      }
    }

    .btn-list {
      &::after {
        font-family: 'Material Icons Outlined';
        content: "chevron_right";
        font-size: 1.50rem;
        line-height: 0;
        transition: $transition-cubic-bezier;
        transform-origin: .5em 50%;
        margin-left: 1rem;
      }

      &[aria-expanded="true"]::after {
        transform: rotate(90deg);
        color: var(--theme-primary);
      }
    }
  }

  .sidebar-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}

.content {
  margin-left: 18rem;
}
